.hero {
    width: 100%;
    min-height: 100vh;
    margin-top: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Dark overlay */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay color with opacity */
    z-index: 0; /* Stays between video and text */
}

.hero-text {
    text-align: center;
    max-width: 800px;
    z-index: 1; /* Keeps text above overlay */
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.hero-btn {
    background: #FFF;
    color: #212121;
    padding: 14px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.hero-btn img {
    width: 20px;
    margin-left: 10px;
}

.hero-btn:hover {
    background-color: #e0e0e0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero {
        min-height: 250px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero {
        min-height: 200px;
    }
    .hero-text h1 {
        font-size: 30px;
    }
    .hero-text p {
        font-size: 14px;
    }
}
