@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body
{
    background: #F5F5F5;

}

a
{
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
}

.container
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
}

.loginsignup-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.btn
{
    background: #FFF;
    color: #212121;
    padding: 14px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.btn img{
    width: 20px;
    margin-left: 10px;
    margin-bottom: auto;
}
.btn.dark-btn{
    background:#212EA0;
    color:#fff;
}

@media(max-width: 1200px){
    .container{
        padding-left:5%;
        padding-right:5%;
    }
    .btn{
        padding:14px 22px;
    }

    .loginsignup-container{
        padding-left:5%;
        padding-right:5%;
    }
}